<div th:fragment="writeFragment">
    <h2>문의 작성</h2>

    <div th:if="${error}" style="color: red; font-weight: bold;">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/mypage/qna/write}" method="post" enctype="multipart/form-data" id="qnaForm">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" th:value="${qnaDTO.title}" placeholder="ex) 신고 관련 문의"/>
            <div class="tooltip-error" id="title-error"> 제목을 작성해주세요.</div>
        </div>

        <div class="form-group">
            <label for="category">문의 종류</label>
            <select id="category" name="category" class="select-box">
                <option value="">-- 선택하세요 --</option>
                <option value="신고" th:selected="${qnaDTO.category == '신고'}">신고</option>
                <option value="차단" th:selected="${qnaDTO.category == '차단'}">차단</option>
                <option value="건의" th:selected="${qnaDTO.category == '건의'}">건의</option>
                <option value="기타" th:selected="${qnaDTO.category == '기타'}">기타</option>
            </select>
            <div class="tooltip-error" id="category-error"> 문의 종류를 선택해주세요.</div>
        </div>

        <div class="form-group">
            <label for="content">내용</label>
            <textarea id="content" name="content" rows="5" placeholder="자세한 내용을 입력해주세요."
                      th:text="${qnaDTO.content}"></textarea>
            <div class="tooltip-error" id="content-error"> 내용을 작성해주세요.</div>
        </div>

        <div class="form-group">
            <label for="file">첨부파일</label>
            <input type="file" id="file" name="file"/>

            <div id="qna-file-preview" class="qna-write-preview"></div>
        </div>

        <div class="privacy-check">
            <label for="privacy">
                <input type="checkbox" id="privacy" name="privacyChecked"/> 개인정보 수집 및 이용 동의
            </label>
            <div class="tooltip-error" id="privacy-error">개인정보 수집 및 이용에 동의해주세요.</div>
        </div>

        <div class="qna-button-right">
            <button type="submit" class="qna-submit-button">제출하기</button>
        </div>
    </form>

    <script th:src="@{/js/qna.js}"></script>
</div>