<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Image</title>
</head>
<body>
<h2>🧪 이미지 테스트 페이지</h2>

<p>챔피언 이미지 예시:</p>
<img src="https://plit-bucket.s3.eu-central-1.amazonaws.com/img/champion/Aatrox.png" alt="Aatrox" width="120">

<p>아이템 이미지 예시:</p>
<img src="https://plit-bucket.s3.eu-central-1.amazonaws.com/img/item/1001.png" alt="Boots" width="60">

<p>룬 이미지 예시:</p>
<img src="https://plit-bucket.s3.eu-central-1.amazonaws.com/img/rune/8005.png" alt="Rune" width="60">

</body>
</html>
