.main-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

.search-box {
    width: 500px;
    position: relative;
    margin: 30px auto;
}

#searchInput {
    width: 100%;
    padding: 13px;
    padding-right: 34px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button svg {
    width: 14px;
    height: 14px;
}

.player-list {
    max-width: 800px;
    margin: 20px auto 0 auto;
}
.player-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.more-button {
    display: block;
    margin: 20px auto;
    background: #6570b4;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.clan-section {
    max-width: 100%;
    margin: 0 auto 50px;
    justify-content: center;
}

.main-container .clan-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 20px 30px;
    padding: 20px 0;
}

.main-container .clan-card small {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clan-title {
    margin-left: 120px;
    cursor: pointer;
}


.chat-list, .chat-popup {
    position: fixed;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
}
.chat-list {
    top: 60px;
    right: 20px;
    display: none;
    width: 250px;
}
.chat-popup {
    bottom: 20px;
    right: 20px;
    display: none;
    width: 300px;
}
.chat-header {
    display: flex;
    justify-content: space-between;
}
.chat-body {
    height: 200px;
    overflow-y: auto;
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
}
.autocomplete-box {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
}

.autocomplete-item {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: #eee;
}


