<footer class="footer">
    <div class="footer-info">
        <p>프로젝트 : 404 Squad | 프로젝트 인원 : 김영우, 송민석, 성영식, 서예찬, 문지혜 | 교육 과정 : 멀티캠퍼스 스프링 백엔드 3회차</p>
        <p>© 2012-2025 OP.GG. OP.GG is not endorsed by Riot Games and does not reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends.</br>
            League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
    </div>
</footer>
